<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Make some stuff : </h2>
<ul>
  <li *ngFor="let currentRecipe of recipies"><h2>{{currentRecipe.title}}</h2>
    <ul><strong>Ingredients</strong><li *ngFor="let currentIngredients of currentRecipe.ingredients">{{currentIngredients}}</li></ul>
  <br>
    <ul><strong>Directions</strong><li *ngFor="let currentDirections of currentRecipe.directions">{{currentDirections}}</li></ul>
  </li>
  <br>
</ul>
